h1{
    color:orange;
    font-size: 30px;
    font-weight: bold;
}
h2{
    color: green;
    font-size: 25px;
    font-weight: 600;
}
p{
    color: blue;
    font-size: 16px;
    font-weight: normal;
}